/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 			General CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body{
	background: fff;
	font-family: 'Poppins', sans-serif;
}
img{
	max-height: 100%;
	height: auto;
	display: block;
}
h1{
	font-size: 45px;
}
h2{
	font-size: 40px;
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 			Header CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.header-area{
	padding: 20px 0;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.header-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.logo{
	width: 15%;
}
.menu{
	width: 60%;
}
.menu > ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.menu ul li{
	list-style: none;
	position: relative;
}
.menu ul li a{
	color: #1B1464;
	padding: 20px 20px;
	display: block;
	font-weight: 800;
	text-transform: capitalize;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.menu ul li a:hover{
	color: #009432;
	background: #dff9fb;
	-webkit-transform: translateY(-2px);
	    -ms-transform: translateY(-2px);
	        transform: translateY(-2px);
}
.menu ul ul{
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	display: none;
}
.menu ul li:hover ul{
	display: block;
}
.menu ul ul li{
	white-space: nowrap;
}
.menu ul ul li a{
	padding: 10px 20px;
}
.search{
	width: 25%;
	position: relative;
}
.search input{
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: 20px;
}
.search button{
	position: absolute;
	right: 10px;
	background: transparent;
	border: none;
	top: 42%;
}



/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 			Banner CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.banner{
	background: url(images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	
}
.banner-overlay{
	background: rgba(129, 236, 236, .3);
	padding: 250px 0;
}
.banner-content{
	text-align: center;
	color: #000;
	width: 50%;
	margin: 0 auto;
}
.banner-content h1{
	margin: 25px 0;
	color: #1B1464;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 			About CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.about-us{
	padding: 85px 0;
}
.about-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-flow: wrap;
	    flex-flow: wrap;
}
.about-left{
	width: 45%;
}
.about-left img{
	margin: 15px 0;
	width: 100%;
}
.about-right{
	width: 50%;	
}
.about-right h3{
	font-size: 30px;
	margin: 10px 0;
}	
.about-right h3 span{
	color: #00cec9;
}
.about-right p{
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 1.6em;
	text-align: justify;
}
.about-right a{
	background: #00cec9;
	padding: 8px 25px;
	display: inline-block;
}
	
.learn-earn{
	text-align: right;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 			Team CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.team-area{
	padding: 85px 0;
	background: #f2f2f2;
}
.section-title{
	text-align: center;
	margin-bottom: 30px;
}
.section-title h2{
	color: #000;
}
.section-title span{
	color: #00cec9;
}
.team-members{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-flow: wrap;
	    flex-flow: wrap;
}
.member{
	width: 23.5%;
	position: relative;
	overflow: hidden;
}
.member img{
	width: 95%;
	height: 300px
}
.team-overlay{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	right: 100%;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.member-info{}
.member-info h4{
	color: #fff;
	text-align: center;
}
.member-info ul{
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.member-info ul li a{
	color: #fff;
	padding: 5px 10px;
	display: block;
}
.member-info ul li a:hover{
	 color: #00cec9;
}
.member:hover .team-overlay{
	right: 0;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 			Contact CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.contact-area{
	background: #fff;
	padding: 85px 0;
}
.contact-form{
	width: 50%;
	margin: 0 auto;
}
.contact-form input,
.contact-form textarea{
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.contact-form input:focus
.contact-form textarea:focus{
	outline: 0;
}
.contact-form label{
	font-size: 14px;
	color: #1B1464;
}
.user-name{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.f-name, 
.l-name{
	width: 48%;
}

.f-name input,
.l-name input,
.user-mail input,
.user-msg textarea{
	padding: 5px;
	border: 1px solid #1B1464;
}

.user-msg,
.user-mail,
.submit-button{
	margin-top: 10px;
}


.submit-button input{
	border: none;
	background: #00cec9;
	padding: 5px 0;
	color: #1B1464;
}
.submit-button input:hover{
	cursor: pointer;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 			Footer CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
footer{
	background: #f2f2f2;
	color: #1B1464;
	text-align: center;
	padding: 15px 0;
}
footer p a{
	color: #00cec9;
}